<ion-view view-title="Livre du coeur">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="about-pax-content">
        <div class="hero" style="background-image: url('img/photo-liege-pax-4.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/pax-logo.png');"></div>
                <h3><a class="light">Librairie Pax</a></h3>
                <!--<button class="button ink-dark button-calm icon ion-social-twitter-outline"></button>
                <button class="button ink-dark button-calm icon ion-social-fqcebook-outline"></button>-->
                <!--<a href="https://twitter.com/intent/tweet?screen_name=librairiepax" class="twitter-mention-button" data-show-count="false">Tweet to @librairiepax</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                <h4>4 place Cockerill, LI&Egrave;GE</h4>
            </div>
        </div>
        <div class="content padding double-padding-x info-openings-content">
            <h4>La librairie Pax est ouverte</h4>
            <div class="info-openings">
                <h5>Le lundi : 13:00-18:30</h5>
                <h5>Du mardi au vendredi : 09:00-18:30</h5>
                <h5>Le Samedi : 10h00-18:30</h5>
                <h5>Le 1er dimanche du mois : 10:00-14:00</h5>
            </div>
        </div>
    </ion-content>
</ion-view>
