<ion-view view-title="Librairie Pax">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="about-pax-content">
        <div class="hero pax-bkg-img-content" style="background-image: url('img/photo-liege-pax-6.jpg');">
            <div class="content pax-bkg-img">
                <div class="avatar" style="background-image: url('img/pax-logo.jpg');"></div>
                <!--<h3><a class="light">Librairie Pax</a></h3>
                <h4>4 place Cockerill, LI&Egrave;GE</h4>-->
            </div>
        </div>
        <div class="content padding double-padding-x info-openings-content">
            <h4>La librairie Pax est ouverte</h4>
            <div class="info-openings">
                <h5>Le lundi : 13:00-18:30</h5>
                <h5>Du mardi au vendredi : 09:00-18:30</h5>
                <h5>Le Samedi : 10h00-18:30</h5>
                <h5>Le 1er dimanche du mois : 10:00-14:00</h5>
                <h5>-------</h5>
                <h5>Tel : 00 32 42 23 21 46</h5>
                <h5>Email : librairiepax[@]skynet.be</h5>
            </div>
        </div>
    </ion-content>
</ion-view>
