<ion-view view-title="Meilleures ventes" ng-controller="ProfileCtrl as vm">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list animate-fade-slide-in-right">
            <!--<div class="list">-->
            <a ng-repeat="bsBook in vm.bestSellersBooks"
               ng-click="vm.goToBookDetails(bsBook)" class="item item-avatar item-icon-right">
                <img ng-src="{{bsBook.imgSrc}}">
                <h2 ng-bind-html="bsBook.title"></h2>
                <p ng-bind-html="bsBook.author"></p>
                <p ng-bind-html="hBook.shortDescription"></p>
                <img ng-if="hBook.isNewAdded == true" class="new-book-added" ng-src="img/new-book.png">
                <!--<i class="icon ion-chatbubble muted"></i>-->
            </a>
        </div>
    </ion-content>
</ion-view>
