<ion-view view-title="Livre du coeur" ng-controller="ProfileCtrl as vm">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list animate-fade-slide-in-right">
            <!--<div class="list">-->
            <a ng-repeat="hBook in vm.heartBooks"
               ng-click="vm.goToBookDetails(hBook)" class="item item-avatar item-icon-right">
                <img ng-src="{{hBook.imgSrc}}">
                <h2>{{hBook.title}}</h2>
                <p>{{hBook.shortDescription}}</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <!--<a ui-sref="app.books" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.books" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.books" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>-->
        </div>
    </ion-content>
</ion-view>
