<ion-view view-title="{{vm.currentBookDetail.title}}" ng-controller="BookDetailsCtrl as vm">
    <ion-content>
        <div class="content">
            <div class="hero h230">
                <div class="content book-det-img-content">
                        <div class="img-item">
                            <img class="book-det-img" ng-src="{{vm.currentBookDetail.imgSrc}}" />
                        </div>
                        <div class="img-item">
                            <p class="text-muted">Gallmeister - Noire</p>
                            <p class="text-muted">Policier / Thriller Grand Format</p>
                            <p class="text-muted">400 pages, 20.5 X 14 cm, 419 grammes</p>
                            <p class="text-muted">Traduit par Mailhos, Jacques de Anglais (etats-unis)</p>
                        </div>
                </div>
            </div>
            <div class="mid-bar dark-bg z1 padding">
                <h3>{{vm.currentBookDetail.title}}</h3>
                <p>{{vm.currentBookDetail.author}}</p>
            </div>
            <div class="content double-padding">
                <h4 class="positive">Book The Trek</h4>
                <p class="text-muted">
                    Immerse yourself in the scenic beauty of the Hallstatt region in Gosau am Dachstein. Decide for yourself whether or not you agree that this is the most beautiful spot in Austria.
                </p>
                <h4 class="positive">Book The Trek</h4>
                <p class="text-muted">
                    Immerse yourself in the scenic beauty of the Hallstatt region in Gosau am Dachstein. Decide for yourself whether or not you agree that this is the most beautiful spot in Austria.
                </p>
                <h4 class="positive">Book The Trek</h4>
                <p class="text-muted">
                    Immerse yourself in the scenic beauty of the Hallstatt region in Gosau am Dachstein. Decide for yourself whether or not you agree that this is the most beautiful spot in Austria.
                </p>
                <h4 class="positive">Book The Trek</h4>
                <p class="text-muted">
                    Immerse yourself in the scenic beauty of the Hallstatt region in Gosau am Dachstein. Decide for yourself whether or not you agree that this is the most beautiful spot in Austria.
                </p>
                <h4 class="positive">Book The Trek</h4>
                <p class="text-muted">
                    Immerse yourself in the scenic beauty of the Hallstatt region in Gosau am Dachstein. Decide for yourself whether or not you agree that this is the most beautiful spot in Austria.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
