<ion-view view-title="{{vm.getPageTitle()}}" ng-controller="BookDetailsCtrl as vm">
    <ion-content>
        <div class="content">
            <div class="hero h230">
                <div class="content book-det-img-content">
                        <div class="img-item">
                            <img class="book-det-img" ng-src="{{vm.currentBookDetail.imgSrc}}" />
                        </div>
                        <div class="img-item">
                            <p class="text-muted" ng-bind-html="vm.currentBookDetail.editor"></p>
                            <p class="text-muted" ng-bind-html="vm.currentBookDetail.type"></p>
                            <p class="text-muted" ng-bind-html="vm.currentBookDetail.publishedDate"></p>
                            <p class="text-muted" ng-bind-html="vm.currentBookDetail.traductionInfo"></p>
                        </div>
                </div>
            </div>
            <div class="mid-bar dark-bg z1 padding">
                <h3 ng-bind-html="vm.currentBookDetail.title"></h3>
                <p ng-bind-html="vm.currentBookDetail.author"></p>
            </div>
            <div class="content double-padding">
                <div ng-repeat="addInfo in vm.currentBookDetail.additionalDescriptionItems">
                    <h4 class="positive">{{addInfo.title}}</h4>
                    <p class="text-muted">
                        {{addInfo.content}}
                    </p>
                </div>
                <div ng-repeat="addInfo in vm.currentBookDetail.globalInfoDescriptionItems">
                    <h4 class="positive">{{addInfo.title}}</h4>
                    <p class="text-muted">
                        {{addInfo.content}}
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
