<ion-view view-title="Agenda" ng-controller="EventCtrl as vm">
    <ion-content class="animate-fade-slide-in agenda-container">
        <div class="item card-item" ng-repeat="event in vm.heartEvents" ng-click="vm.goToEventDetails(event)">
            <!--<div ui-sref="app.gallery" class="card stable-bg ink ink-dark">-->
            <div class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <strong ng-bind-html="event.title"></strong> <br />

                    <a class="image">
                        <img ng-src="{{event.imgSrc}}">
                    </a>
                    <span ng-bind-html="event.shortDescription"></span>

                    <!--<div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> &nbsp;&nbsp;<strong ng-bind-html="event.date"></strong>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
