<ion-view view-title="Livre du coeur" ng-controller="ProfileCtrl as vm">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/photo-liege-pax-4.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/pax-logo.png');"></div>
                <h3><a class="light">Librairie Pax</a></h3>
                <!--<button class="button ink-dark button-calm icon ion-social-twitter-outline"></button>
                <button class="button ink-dark button-calm icon ion-social-fqcebook-outline"></button>-->
                <!--<a href="https://twitter.com/intent/tweet?screen_name=librairiepax" class="twitter-mention-button" data-show-count="false">Tweet to @librairiepax</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                <h4>4 place Cockerill, LI&Egrave;GE</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.events" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Agenda
            </a>
            <a ui-sref="app.books" class="tab-item">
                <i class="icon ion-aperture"></i> Livres Conseill&eacute;
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-wand"></i> Livre du jour
            </a>
        </div>
        <h4 class="content padding double-padding-x">Nos derniers conseils</h4>
        <a href="http://paxwebapi.azurewebsites.net/">server api</a>
        <a href="http://paxwebapi.azurewebsites.net/api/heartbooks">with api</a>
        <div class="list animate-fade-slide-in-right">
        <!--<div class="list">-->
                <a ng-repeat="hBook in vm.heartBooks"
                   ng-click="vm.goToBookDetails(hBook)" class="item item-avatar item-icon-right">
                    <img ng-src="{{hBook.imgSrc}}">
                    <h2>{{hBook.title}}</h2>
                    <p>{{hBook.shortDescription}}</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <!--<a ui-sref="app.books" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.books" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.books" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>-->
            </div>
</ion-content>
</ion-view>
